.form-header {
  position: relative;
  height: 55px;
  margin-top: 136px;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 47px;
  line-height: 55px;
  text-align: center;
  color: #1C1C1C;
}

.form-header-small {
  position: relative;
  width: 100%;
  height: 18px;
  margin-top: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #1C1C1C;
}

.inputs {
  position: relative;
  width: 374px;
  align-items: center;
  margin-top: 98px;
  display: flex;
  margin-left: -187px;
  left: 50%;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #1C1C1C;
}
::placeholder {
  color: #939292;
}

.field {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 23px;
  border: none;
  border-bottom: 1px solid #DEDEDE;
  margin-top: 8px;
  margin-bottom: 30px;
}
.validate:invalid  {
  color: #D00000;;
  border-bottom: 1px solid #D00000;
}

.container {
  position: absolute;
  top: 627px;
  left: 50%;
  margin-left: -154px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  left: -33px;
  height: 17px;
  width: 17px;
  background-color: #FFFFFF;
  border: 1px solid #DEDEDE
}

.container:hover input ~ .checkmark {
  background-color: #DEDEDE;
}

.container input:checked ~ .checkmark {
  background-color: #FFFFFF;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 3px;
  top: 3px;
  width: 0px;
  height: 0px;
  border: solid #1C1C1C;
  border-width: 0 10px 10px 0;
}

.submit {
  position: relative;
  height: 44px;
  left: 50%;
  margin-left: -187px;
  margin-top: 55px;
  width: 374px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  align-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  background: #1C1C1C;
}

.submit:disabled {
  background: #DEDEDE;
}

.footer {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.footer-div {
  margin: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #939292;
}

.button {
  height: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #20201F;
  border: none;
  background: #FFFFFF;
}

.success {
  position: absolute;
  left: 50%;
  margin-left: -92.75px;
  margin-top: 279.25px;
  border-radius: 50%;
  animation: success-pulse infinite 2s linear
}

.success-message {
  position: absolute;
  top: 588px;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #1C1C1C;
}


@keyframes success-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }
 
  100% {
    box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
  }
}
